.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
}

.header-container h1 {
    flex-grow: 1;
}

.user-preview {
    display: flex;
    margin-left: 5px;
    gap: 20px;
    flex-grow: 1;
    justify-content: space-between;
}

.app-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-inline: 20px;
    flex-grow: 3;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}

.user-details {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
